<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Phatsite" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if !user_signed_in? %>
  <p class="sign_in" style="
    text-align: left; 
    font-family: 'Arial', sans-serif; 
    font-size: 20px; /* Tăng kích thước chữ */
    color: #2a9d8f; 
    margin: 10px 0;">
    <%= link_to "Login", new_user_session_path, style: "
      color: #2a9d8f; 
      text-decoration: none; 
      font-weight: bold; 
      padding: 10px 20px; 
      background-color: #edf2f4; 
      border: 2px solid #2a9d8f; 
      border-radius: 5px; 
      transition: background-color 0.3s ease;" %>
  </p>
<% end %>

<% if user_signed_in? %>
  <div style="
    text-align: center; 
    margin: 10px 0;">
    <%= button_to "Đăng xuất", destroy_user_session_path, method: :delete, style: "
      background-color: #e76f51; 
      color: white; 
      font-family: 'Arial', sans-serif; 
      font-size: 16px; 
      font-weight: bold; 
      padding: 8px 16px; 
      border: none; 
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s ease;" %>
  </div>
<% end %>

<div style="
  text-align: left; /* Chuyển sang trái */
  margin-top: 20px;">
  <%= link_to "Home", root_path, style: "
    font-family: 'Arial', sans-serif; 
    font-size: 20px; /* Tăng kích thước chữ */
    color: #264653; 
    text-decoration: none; 
    font-weight: bold; 
    padding: 10px 20px; 
    background-color: #edf2f4; 
    border: 2px solid #264653; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;" %>
</div>

<p class="notice" style="
  text-align: center; 
  color: #2a9d8f; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  margin-top: 10px;">
  <%= notice %>
</p>
<p class="alert" style="
  text-align: center; 
  color: #e76f51; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  margin-top: 10px;">
  <%= alert %>
</p>

<div style="
  margin-top: 20px;">
  <%= yield %>
</div>

</html>
